[
    {
        "username": "alastaircrouch@icloud.com",
        "password": "Rosie2009",
       
    },
    {
        "username": "Your Email 2",
        "password": "Your Password 2",
        "proxy": "http://user:pass@host2:port"
    }
]
